################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RayTracer/x64/Debug/RayTracer.tlog
